/* CSS Document */
@charset "utf-8";
/* 鏍峰紡鍒濆鍖�*/
*{margin: 0; padding: 0;}
fieldset,img,button{border: 0;}
:focus {outline: 0;}
address, caption, cite, code, dfn,
em, strong, th, var, optgroup {font-style: normal;font-weight:normal;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight:normal;}
abbr, acronym {border: 0;font-variant: normal;}
input, button, textarea,
select, optgroup, option {font-family:inherit; font-size: inherit; font-style:inherit; font-weight:inherit;}
code, kbd, samp, tt {font-size: 100%;}
input, button, textarea, select {*font-size: 100%;}
body {line-height: 1.5; font-family:"Microsoft YaHei UI","Microsoft YaHei",SimSun,"Segoe UI",Tahoma,Helvetica,Sans-Serif;font-size:12px;}
ol, ul,li {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
sup, sub {font-size:100%;vertical-align: baseline;}
:link, :visited , ins {text-decoration: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
body{background:url(../images/bg.png) repeat;}
html ,body{}
.left{float:left;display:inline;}
.right{float:right;}
.blank_8{width:8px;height:8px;margin:0 auto; clear:both;}
.ml_100{margin-left:120px;}
.ml_70{margin-left:70px;}
.ml_14{margin-left:14px;}
.ml_15{margin-left:15px;}
.mr_12{margin-right:12px;}
.ml_19{margin-left:19px;}
.mr_4{margin-right:4px;}
.mr_5{margin-right:5px;}
.mr_8{margin-right:8px;}
.mr_28{margin-right:28px;}
.text_red{color:#ff0000;}
.text_gray{color:#8e8e8e;}
.text_orange{color:#ee8f00;}
.text_green{color:#408f26;}
.text_blue{color:#0000ff;}
.w_400{width:400px;}
.w_250{width:250px;}
.w_300{width:300px;}
.w_200{width:200px;}
.w_416{width:416px;}
.bold{font-weight:bold;}
.hide{display:none;}
.hideTooLongChar{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;course:hand;}
/*閾炬帴*/
.link_blue{color:#0000ff;cursor:pointer;text-decoration:underline;}
.link_red{color:#ff0000;cursor:pointer;}
.link_orange{color:#ff6000;cursor:pointer;}

.body_sec{width:1000px;margin:0 auto 10px 13px;height:670px;display: block;}
.list_a{width:340px;height:670px;float:left;background:url(../images/zhangdan/zhangdan_bg_2.png) repeat-y;}
/*宸︿晶璐﹀崟鏄庣粏*/
.zhangdan_wrap{width:340px;font-size:14px;float:left;}
.zhangdan_title{width:340px;height:36px;background:url(../images/zhangdan/zhangdan_bg_1.png) 0 0;}
.zhangdan_info{width:330px;float:left;margin:10px 15px 10px 15px;display:inline;}
.zhangdan_info span{display:block;}
.zhangdan{width:340px;float:left;table-layout:fixed;}

.p_zhangdan_td{width:40px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.zhangdan .del{width:340px ;height:1px;line-height:1px;background:red;}
.zhangdan th{height:32px;background:url(../images/zhangdan/zhangdan_bg_3.png);}
.zhangdan tr{width:340px;background:url(../images/zhangdan/diancan_bg_5.png) bottom repeat-x;}
.zhangdan td{padding:0 5px;height:40px;text-align: center;}
.zhangdan .on_tr{width:340px;background:url(../images/zhangdan/diancan_bg_6.png) bottom repeat-x;}
.zhangdan .no_xiadan{color:#ff0000;}
.but_wrap{width:340px;height:144px;float:left;margin-top:0px;border-top:1px solid #969696;}
.but_wrap_in{width:340px;height:113px;float:left;padding-top:2px;border-top:1px solid #fff;}
.but_total_consume{
	width:330px;height:12px;margin:5px 0 10px 0;color:#555;line-height:12px;vertical-align:middle;text-align:right;display:block;font-size:18px;
}


.yuding_hou_wrap{width:180px;margin-left:139px;float:left;display:inline;}
.big-but-queding{width:70px;height:44px;float:left;display:inline;background:url(../images/queding_big.png) 0 -98px;}
.big-but-queding:hover{background:url(../images/queding_big.png) 0 -49px;}

.but_qjz{width:88px;height:44px;float:left;display:inline;background:url(../images/zhangdan/zhangdan_bg_6.png) 0 -95px;cursor: pointer;}
.but_qjz:hover{background:url(../images/zhangdan/zhangdan_bg_6.png) -94px -142px;}
.but_qjz_no{width:88px;height:44px;float:left;display:inline;background:url(../images/zhangdan/zhangdan_bg_6.png) 0 -142px;}
.but_yjz_no{width:88px;height:44px;float:left;display:inline;background:url(../images/zhangdan/zhangdan_bg_6.png) -94px -95px;}


.but_beizhu{width:283px;height:46px;margin:0 0 10px 30px;color:#555;line-height:46px;vertical-align:middle;text-align:center;display:block;background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -56px;}
.but_beizhu:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -171px;}
.but_qx_xiugai{width:89px;height:44px;display:block;float:left;margin:0 7px 0 30px;display:inline;background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -111px;cursor: pointer;}
.but_qx_xiugai:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -226px;}
.but_qx_xiugai_on{width:89px;height:44px;display:block;float:left;margin:0 7px 0 30px;display:inline;background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -226px;cursor: default;}
.but_qx_xiugai_no{width:89px;height:44px;float:left;margin:0 7px 0 30px;display:inline;background:url(../images/zhangdan/zhangdan_bg_6.png) 0 0;}

.but_qx_left{width:44px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_1.png) -97px -111px;cursor: pointer;}
.but_qx_left:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) -97px -226px;}
.but_qx_left_no{width:44px;height:44px;float:left;margin-right:7px;display:inline;background:url(../images/zhangdan/zhangdan_bg_6.png) -96px 0;}
.but_qx_left_on{width:44px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_1.png) -97px -226px;cursor: default;}

.but_qx_right{width:44px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_1.png) -148px -111px;cursor: pointer;}
.but_qx_right:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) -148px -226px;}
.but_qx_right_no{width:44px;height:44px;float:left;display:inline;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_6.png) -147px 0;}
.but_qx_right_on{width:44px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_1.png) -148px -226px;cursor: default;}

.but_xiadan{width:88px;height:44px;display:block;float:left;background:url(../images/zhangdan/zhangdan_bg_1.png) -199px -111px;cursor: pointer;}
.but_xiadan:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) -199px -226px;}
.but_xiadan_on{width:88px;height:44px;display:block;float:left;background:url(../images/zhangdan/zhangdan_bg_1.png) -199px -226px;cursor: default;}
.but_xiadan_no{width:88px;height:44px;float:left;display:inline;background:url(../images/zhangdan/zhangdan_bg_6.png) -199px 0;}

/*椤甸潰鍙充晶鏍峰紡*/
.list_b{width:659px;height:670px;border-left:1px solid #666;float:left;}
.list_b_in{width:658px;height:670px;border-left:1px solid #ababab;float:left;position:relative;background:#c4c4c4;}
.tab_nav_wrap{width:658px;height:47px; background:#eee;border-bottom:1px solid #ababab;background:#eee;}
.tab_nav{width:658px;height:46px; border-bottom:1px solid #969696;}
.tab_nav li{width:115px;float:left;height:47px;line-height:46px;vertical-align:middle;border-right:1px solid #ababab;}
.tab_nav a{width:114px;loat:left;height:46px;font-size:14px;text-align:center;color:#6f6f6f;display:block;border-right:1px solid #969696; }
.tab_nav .on{height:47px;border-bottom:1px solid #c4c4c4;border-right:1px solid #969696;}
.tab_nav .on a{height:46px;background:#c4c4c4;color:#6f6f6f;display:block;border-right:1px solid #ababab;border-bottom:1px solid #c4c4c4;}
.tab_nav_baby{width:644px;height:44px;float:left;background:#c4c4c4; padding:3px 0 3px 14px;position:relative;z-index:1;overflow-y:hidden;}
.tab_nav_baby ul{height:54px;float:left;}
.tab_nav_baby li{float:left;height:54px;}
.tab_nav_baby li a{float:left;height:44px;text-align:center;line-height:44px;color:#444;font-size:14px;vertical-align:middle;display:block; padding:0 14px;background:url(../images/zhangdan/zhangdan_bg_4.png) -10px 0;border-right:1px solid #969696;}
.tab_nav_baby li a:hover{background:url(../images/zhangdan/zhangdan_bg_4.png) -10px -46px;}
.tab_nav_baby .selected{background:url(../images/zhangdan/zhangdan_bg_4.png) -10px -46px;}

.tab_nav_baby .first_tag{color:#444;cursor:pointer;font-size:14px;line-height:42px;text-align:center;vertical-align:middle;background:#e3ead2;border:1px solid #d2deb3;margin-right:6px;}
.tab_nav_baby .first_tag:hover{background:#c6dab2;border:1px solid #93b482;}
.tab_nav_baby .first_tag_on{background:url(../images/zhangdan/zhangdan_bg_4.png) 0 -46px;border-right:1px solid #969696;}

.tab_nav_baby .last_tag{background:url(../images/zhangdan/zhangdan_bg_4.png) right 0; border:0;}
.tab_nav_baby .last_tag:hover{background:url(../images/zhangdan/zhangdan_bg_4.png) right -46px;}
.tab_nav_baby .last_tag_on{background:url(../images/zhangdan/zhangdan_bg_4.png) right -46px;border:0;}
/*璐﹀崟鍒楄〃*/
.zdlb{width:658px;font-size:14px;color:#444;}
.zdlb th{height:38px;text-align:center;background:url(../images/zhangdan/diancan_bg_5.png) repeat;}
.zdlb td{height:42px; vertical-align:middle;text-align:center;border-bottom:1px solid #c4c4c4;}
.zdlb tr{background:#fff;}
.zdlb .on_tr{width:340px;background:url(../images/zhangdan/diancan_bg_6.png) bottom repeat-x;}


.zdlb_but_area{width:658px;height:52px;padding-top:10px;position:absolute;bottom:0;right:0;background:#c4c4c4;border-top:1px solid #969696;}
.search_sec{width:200px;float:left;margin-top:10px;padding-left:20px;}
.search_sec input{width:163px;height:26px;line-height:26px;padding-left:7px;vertical-align:middle;border:0;float:left;background:url(../images/search.png) 0 0;}
.search_sec button{width:30px;height:26px;border:0;background:url(../images/search.png) -170px 0;cursor:pointer;}

.but_chedan{width:60px;height:44px;display:block;float:left;margin:0 7px 0 110px;background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -273px;cursor: pointer;}
.but_chedan:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) 0 -321px;}
.but_chedan_on{width:60px;height:44px;display:block;float:left;margin:0 7px 0 110px;background:url(../images/zhangdan/zhangdan_bg_6.png) 0 -48px;}

.but_dayin{width:60px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_1.png) -74px -273px;cursor: pointer;}
.but_dayin_on{width:60px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_6.png) -67px -48px;}
.but_dayin:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) -74px -321px;}

.but_fanjiezhang{width:70px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_1.png) -143px -273px;cursor: pointer;}
.but_fanjiezhang_on{width:70px;height:44px;display:block;float:left;margin-right:7px;background:url(../images/zhangdan/zhangdan_bg_6.png) -134px -48px;}
.but_fanjiezhang:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) -143px -321px;}

.zdhj_wrap{width:658px;height:32px;position:absolute;bottom:63px;right:0;background:#dfdfdf;font-size:14px;}
.zdhj_wrap span{margin-left:20px;height:29px;padding-top:3px;float:left;}
.zdhj,.zdhj_on{width:130px;height:29px;padding-top:3px;display:block;text-align:center;float:right;b}
.zdhj{order:1px solid #efefef;}
.zdhj_on{border:1px solid #c4c4c4;border-top:none;border-bottom:none;background:#b1e38e;}

/*鐐归*/
.diancan_wrap{width:628px;height:494px;float:left;padding:10px 0 0 26px;margin:1px 0 0 2px;display:inline;background:url(../images/zhangdan/diancan_bg_2.png) repeat;border:1px solid #0f0f0f;border-right:0;}
.diancan,.diancan_no{width:90px;height:90px;float:left;margin:0 12px 9px 0;font-size:14px;color:#000;display:table; *position: relative;}
.diancan{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -200px 0;}
.diancan:hover{background:url(../images/zhangdan/diancan_bg_1.png) 0 0;}
.diancan_no{background:url(../images/zhangdan/diancan_bg_1.png) -100px 0;}
.diancan div,.diancan_no div{display:table-cell; vertical-align:middle;*position:absolute;*top:50%;}
.diancan p,.diancan_no p{width:90px; margin: 0 auto; *position: relative; *top: -50%;}
.diancan span,.diancan_no span{display:block;height:18px;line-height:18px;width:90px; text-align:center;}
.diancan_but_area{width:658px;height:52px;padding-top:10px;position:absolute;bottom:0;right:0;background:#c4c4c4;border-top:1px solid #969696;background:url(../images/zhangdan/zhangdan_bg_2.png) repeat;}

.diancan_red,.diancan_yellow,.diancan_green{width:95px;height:95px;float:left;margin:0 2px 4px 0;font-size:14px;color:#000;display:table; *position: relative;}
.diancan_red{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -100px -95px;}
.diancan_red:hover{background:url(../images/zhangdan/diancan_bg_1.png) 0 -95px;}
.diancan_yellow{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -195px -95px;}
.diancan_yellow:hover{background:url(../images/zhangdan/diancan_bg_1.png) 0 -194px;}
.diancan_green{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -195px 0;}
.diancan_green:hover{background:url(../images/zhangdan/diancan_bg_1.png) -100px -194px;}
.diancan_red div,.diancan_yellow div,.diancan_green div{display:table-cell; vertical-align:middle;*position:absolute;*top:50%;}
.diancan_red p,.diancan_yellow p,.diancan_green p{width:90px; margin: 0 auto; *position:relative; *top: -50%;}
.diancan_red span,.diancan_yellow span,.diancan_green span{display:block;height:18px;line-height:18px;width:90px; text-align:center;}

.diancan_green_select,.diancan_red_select,.diancan_yellow_select{width:95px;height:95px;float:left;margin:0 2px 4px 0;font-size:14px;color:#000;display:table; *position: relative;}
.diancan_green_select{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -199px 0;background:url(../images/zhangdan/diancan_bg_1.png) -100px -194px;}
.diancan_red_select{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -100px -95px;background:url(../images/zhangdan/diancan_bg_1.png) 0 -95px;}
.diancan_yellow_select{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -195px -95px;background:url(../images/zhangdan/diancan_bg_1.png) 0 -194px;}
.diancan_green_select div,.diancan_red_select div,.diancan_yellow_select div{display:table-cell; vertical-align:middle;*position:absolute;*top:50%;}
.diancan_green_select p,.diancan_red_select p,.diancan_yellow_select p{width:90px; margin: 0 auto; *position:relative; *top: -50%;}
.diancan_green_select span,.diancan_red_select span,.diancan_yellow_select span{display:block;height:18px;line-height:18px;width:90px; text-align:center;}


.diancan_green_order,.diancan_red_order,.diancan_yellow_order{width:95px;height:95px;float:left;margin:0 2px 4px 0;font-size:14px;color:#000;display:table; *position: relative;}
.diancan_green_order{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -199px 0;background:url(../images/zhangdan/diancan_bg_1.png) -194px -194px;}
.diancan_green_order:hover{background:url(../images/zhangdan/diancan_bg_1.png) -100px -194px;}

.diancan_red_order{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -100px -95px;background:url(../images/zhangdan/diancan_bg_1.png) 0 -95px;}
.diancan_yellow_order{cursor:pointer;background:url(../images/zhangdan/diancan_bg_1.png) -195px -95px;background:url(../images/zhangdan/diancan_bg_1.png) 0 -194px;}
.diancan_green_order div,.diancan_red_order div,.diancan_yellow_order div{display:table-cell; vertical-align:middle;*position:absolute;*top:50%;}
.diancan_green_order p,.diancan_red_order p,.diancan_yellow_order p{width:90px; margin: 0 auto; *position:relative; *top: -50%;}
.diancan_green_order span,.diancan_red_order span,.diancan_yellow_order span{display:block;height:18px;line-height:18px;width:90px; text-align:center;}

.dc_box_wrap{width:342px;height:503px;position:absolute;top:52px;left:16px;overflow:auto;overflow-x:hidden;z-index:9999999;}
.dc_box{width:340px;float:left;border:1px solid #bcbcbc;border-top:0;overflow:auto; overflow-x:hidden;}
.dc_box_in{width:338px;float:left;background:#eee;border:1px solid #c4c4c4;padding-bottom:19px;}
.dc_box_in a{width:126px;height:42px;color:#444;cursor:pointer;font-size:14px;line-height:42px;text-align:center;vertical-align:middle;display:block;float:left;margin:19px 0 0 19px;background:#e3ead2;border:1px solid #d2deb3;}
.dc_box_in a:hover{width:126px;height:42px;display:block;float:left;background:#c6dab2;border:1px solid #93b482;}



.search_sec{width:210px;float:left;margin-top:10px;padding-left:20px;}
.search_sec input{width:163px;height:26px;line-height:26px;padding-left:7px;vertical-align:middle;border:0;float:left;background:url(../images/search.png) 0 0;}
.but_zdycp{width:105px;height:44px;display:block;float:left;margin:0 7px 0 210px;display:inline;background:url(../images/zhangdan/zhangdan_bg_1.png) -230px -273px;}
.but_zdycp:hover{background:url(../images/zhangdan/zhangdan_bg_1.png) -230px -321px;}
.but_go,.but_back{height:44px;display:block;position:absolute;top:3px;}
.but_go{width:46px;background:url(../images/zhangdan/diancan_bg_3.png) -47px 0;right:14px;}
.but_go:hover{background:url(../images/zhangdan/diancan_bg_3.png) -47px -46px;}
.but_back{width:47px;background:url(../images/zhangdan/diancan_bg_3.png) 0 0;right:60px;}
.but_back:hover{background:url(../images/zhangdan/diancan_bg_3.png) 0 -46px;}
/*缁撹处*/
.jiezhang_wrap{width:658px;height:620px;float:left;position:relative;overflow:auto; overflow-x:hidden;margin-top:1px;font-size:14px;background:url(../images/zhangdan/diancan_bg_2.png) repeat;border-top:1px solid #fff;}
.jiezhang_list{width:626px;border-bottom:1px solid #ebeaea;margin-left:10px; float:left;}
.jiezhang_list_in{width:596px;padding:8px 15px;position:relative;border-bottom:1px solid #ababab;float:left;}
.jiage{position:absolute; right:10px; bottom:8px; font-size:18px;}
.jiezhang_group{width:620px;margin:10px 0 0 20px; float:left;display:inline;}
.jz_ground_a{width:630px;float:left;}
.jz_ground_b{width:416px;float:left;margin-top:8px;}
.jz_ground_c{width:200px;float:left;margin-top:8px;}
.jiezhang,.jiezhang_no,.moling_on{width:96px;height:56px;color:#000;font-size:16px;float:left;margin-bottom:8px;background:url(../images/zhangdan/jiezhang_bg_1.png) 0 0;display:table;*position: relative;}
.jiezhang div,.jiezhang_no div{display:table-cell; vertical-align:middle;*position:absolute;*top:50%;}
.jiezhang p,.jiezhang_no p{width:94px; margin: 0 auto; *position: relative; *top: -50%;}
.jiezhang span,.jiezhang_no span{display:block;height:20px;width:94px; text-align:center;}
.jiezhang{background:url(../images/zhangdan/jiezhang_bg_1.png) 0 0;cursor:pointer;}
.jiezhang:hover{background:url(../images/zhangdan/jiezhang_bg_1.png) -100px 0;}
.jiezhang_no{background:url(../images/zhangdan/jiezhang_bg_1.png) -200px 0;}
.jiezhang_big{width:96px;height:120px;float:left;background:url(../images/zhangdan/jiezhang_bg_1.png) 0 -60px;cursor:pointer;display:table;*position: relative;}
.jiezhang_big div{display:table-cell; vertical-align:middle;*position:absolute;*top:50%;}
.jiezhang_big p{width:94px; margin: 0 auto; *position: relative; *top: -50%;}
.jiezhang_big span{display:block;height:20px;width:94px; text-align:center;}
.jiezhang_big:hover{background:url(../images/zhangdan/jiezhang_bg_1.png) -100px -60px;}
.moling_on{background:url(../images/zhangdan/jiezhang_bg_1.png) -200px -60px;}
.moling_on div{width:40px; margin:15px 0 0 20px;}
.text_b{font-size:18px;}
.jiezhang_over{width:658px;height:296px;background:url(../images/zhangdan/zhangdan_bg_2.png); float:left;}
.jiezhang_over p{width:120px;font-size:24px; color:#009900;margin:115px auto;}
/*璐﹀崟鏄庣粏寮圭獥*/
.popup_zdmx{width:398px;height:40px;padding:33px 22px;position:absolute;top:20px;left:166px;background:url(../images/popup/popup_bg_6.png) 0 0;}
.but_zengcai,.but_zengcai_no,.but_cuicai,.but_huacai,.but_tuicai,.but_czjl,.but_czjl_no{width:70px;height:44px;display:block;float:left;}
.but_zengcai{background:url(../images/popup/popup_bg_7.png) 0 -200px;}
.but_zengcai:hover{background:url(../images/popup/popup_bg_7.png) -80px -200px;}
.but_zengcai_no{background:url(../images/popup/popup_bg_7.png) -154px -150px;}
.but_zengcai_no:hover{background:url(../images/popup/popup_bg_7.png) -154px -200px;}
.but_cuicai{background:url(../images/popup/popup_bg_7.png) 0 -50px;}
.but_cuicai:hover{background:url(../images/popup/popup_bg_7.png) 0 0;}
.but_huacai{background:url(../images/popup/popup_bg_7.png) -80px -50px;}
.but_huacai:hover{background:url(../images/popup/popup_bg_7.png) -80px  0;}
.but_tuicai{background:url(../images/popup/popup_bg_7.png) -160px -50px;}
.but_tuicai:hover{background:url(../images/popup/popup_bg_7.png) -160px 0;}
.but_czjl{background:url(../images/popup/popup_bg_7.png) 0 -150px;}
.but_czjl:hover{background:url(../images/popup/popup_bg_7.png) -80px -150px;cursor: pointer;}
.but_czjl_no{background:url(../images/popup/popup_bg_pno.png) no-repeat;}
.but_add,.but_minus{width:60px;height:44px;display:block;float:left;}
.but_add{background:url(../images/popup/popup_bg_9.png) -192px 0;}
.but_add:hover{background:url(../images/popup/popup_bg_9.png) -128px 0;}
.but_minus{background:url(../images/popup/popup_bg_9.png) -64px 0;}
.but_minus:hover{background:url(../images/popup/popup_bg_9.png) 0 0;}
.but_blank{width:60px;height:44px;line-height:44px;text-align:center; vertical-align:middle;float:left;font-size:18px;color:#666;border:none;background:url(../images/popup/popup_bg_9.png) -256px 0;}



.popup_zdmx_tall{width:360px;position:absolute;top:160px;left:566px;}
.popup_zdmx_taller{width:360px;position:absolute;top:160px;left:166px;}
.popup_zdmx_tall_t{width:360px;height:15px;background:url(../images/popup/popup_bg_6.png) -1180px 0;}
.popup_zdmx_taller_t{width:360px;height:84px;background:url(../images/popup/popup_bg_6.png) -1540px 0;}
.popup_zdmx_tall_m{width:360px;float:left;background:url(../images/popup/popup_bg_6.png) repeat-y -460px 0;}
.popup_zdmx_tall_m h3{font-size:16px;color:#666;margin:10px 0 15px 26px;}
.popup_zdmx_tall_m span{font-size:18px;margin:8px 10px 0 0;float:left;}
.popup_zdmx_tall_b{width:240px;height:70px;padding:26px 0 0 120px;float:left;background:url(../images/popup/popup_bg_6.png) -820px -5px;}


.but_prbz{width:102px;height:44px;line-height:44px;text-align:center;vertical-align:middle;font-size:14px;display:block;float:left;display:inline; margin-top:23px;background:url(../images/popup/popup_bg_8.png) 0 -50px;}
.but_prbz:hover{background:url(../images/popup/popup_bg_8.png) 0 0;}
.but80{width:80px;height:44px;line-height:44px;text-align:center;vertical-align:middle;font-size:14px;display:block;float:left;display:inline; margin-top:23px;background:url(../images/popup/popup_bg_8.png) -109px -50px;cursor:pointer;}
.but80:hover{background:url(../images/popup/popup_bg_8.png) -109px 0;}
/*閿洏*/
.small_jianpan_wrap{width:230px;height:220px;margin:10px 0 0 85px;float:left;display:inline;}
.small_jianpan{float:left;}
.small_jianpan a{width:62px;height:46px;float:left;margin:0 6px 6px 0;display:block;background:url(../images/popup/jianpan_shuzi.png);}
.small_jianpan a:hover{background:url(../images/popup/jianpan_shuzi_on.png);}
.small_jianpan .but_1,.small_jianpan .but_1:hover{background-position:0 0;}
.small_jianpan .but_2,.small_jianpan .but_2:hover{background-position:-68px 0;}
.small_jianpan .but_3,.small_jianpan .but_3:hover{background-position:-136px 0;}
.small_jianpan .but_4,.small_jianpan .but_4:hover{background-position:0 -52px;}
.small_jianpan .but_5,.small_jianpan .but_5:hover{background-position:-68px -52px;}
.small_jianpan .but_6,.small_jianpan .but_6:hover{background-position:-136px -52px;}
.small_jianpan .but_7,.small_jianpan .but_7:hover{background-position:0 -104px;}
.small_jianpan .but_8,.small_jianpan .but_8:hover{background-position:-68px -104px;}
.small_jianpan .but_9,.small_jianpan .but_9:hover{background-position:-136px -104px;}
.small_jianpan .but_del,.small_jianpan .but_del:hover{background-position:0 -156px;}
.small_jianpan .but_0,.small_jianpan .but_0:hover{background-position:-68px -156px;}
.small_jianpan .but_close,.small_jianpan .but_close:hover{background-position:-136px -156px;}
.small_jianpan .but_dot,.small_jianpan .but_dot:hover{background-position:0 -208px;}
/*鎸夐挳*/
.but-queding,.but-quxiao{width:60px;height:44px;display:block;float:left;}
.but-queding{background:url(../images/popup/popup_bg_2.png) -125px 0;}
.but-queding:hover{background:url(../images/popup/popup_bg_2.png) -328px 0;}
.but-quxiao{float:left;background:url(../images/popup/popup_bg_2.png) -401px -44px;}
.but-quxiao:hover{background:url(../images/popup/popup_bg_2.png) -401px 0;}