<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndlan.ieream.model.CmRoleBean">
	
	<resultMap id="BaseResultMap" type="com.ndlan.ieream.model.CmRoleBean">
		<id column="cr_id" property="crId" jdbcType="VARCHAR" />
	
    
		<result column="create_time" property="createTime" jdbcType="DATE" />
    
		<result column="bar_path" property="barPath" jdbcType="VARCHAR" />
    
		<result column="name" property="name" jdbcType="VARCHAR" />
    
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
    
		<result column="is_stop_use" property="isStopUse" jdbcType="VARCHAR" />
    
		<result column="sysdata_type" property="sysdataType" jdbcType="VARCHAR" />
    
		<result column="is_all_tablearea" property="isAllTablearea" jdbcType="VARCHAR" />
    
		<result column="update_time" property="updateTime" jdbcType="DATE" />
    
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    
		<result column="is_syn" property="isSyn" jdbcType="VARCHAR" />
    
		<result column="rest_id" property="restId" jdbcType="VARCHAR" />
    
		<result column="cr_status" property="crStatus" jdbcType="VARCHAR" />
    
		<result column="version" property="version" jdbcType="BIGINT" />
    
		<result column="syn_version" property="synVersion" jdbcType="BIGINT" />
    
		<result column="role_type" property="roleType" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		create_time as createTime ,
		bar_path as barPath ,
		name as name ,
		cr_id as crId ,
		create_by as createBy ,
		is_stop_use as isStopUse ,
		sysdata_type as sysdataType ,
		is_all_tablearea as isAllTablearea ,
		update_time as updateTime ,
		update_by as updateBy ,
		is_syn as isSyn ,
		rest_id as restId ,
		cr_status as crStatus ,
		version as version ,
		syn_version as synVersion ,
		role_type as roleType 
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
		  	    <if test="createTime != null"> and create_time = #\{createTime\}</if>
				
		  	    <if test="barPath != null"> and bar_path = #\{barPath\}</if>
				
		  	    <if test="name != null"> and name = #\{name\}</if>
				
		  	    <if test="crId != null"> and cr_id = #\{crId\}</if>
				
		  	    <if test="createBy != null"> and create_by = #\{createBy\}</if>
				
		  	    <if test="isStopUse != null"> and is_stop_use = #\{isStopUse\}</if>
				
		  	    <if test="sysdataType != null"> and sysdata_type = #\{sysdataType\}</if>
				
		  	    <if test="isAllTablearea != null"> and is_all_tablearea = #\{isAllTablearea\}</if>
				
		  	    <if test="updateTime != null"> and update_time = #\{updateTime\}</if>
				
		  	    <if test="updateBy != null"> and update_by = #\{updateBy\}</if>
				
		  	    <if test="isSyn != null"> and is_syn = #\{isSyn\}</if>
				
		  	    <if test="restId != null"> and rest_id = #\{restId\}</if>
				
		  	    <if test="crStatus != null"> and cr_status = #\{crStatus\}</if>
				
		  	    <if test="version != null"> and version = #\{version\}</if>
				
		  	    <if test="synVersion != null"> and syn_version = #\{synVersion\}</if>
				
		  	    <if test="roleType != null"> and role_type = #\{roleType\}</if>
				
				
			</trim>
		</where>
		<if test="sorting != null">order by $\{sorting\}</if>
		<if test="offset != null and limit != null">
			limit #\{offset\}, #\{limit\}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(cr_id)
		from cm_role
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from cm_role
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cm_role
		where cr_id = #\{cr_id\}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cm_role
		where  cr_id = #\{cr_id\}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_dictionary
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.ndlan.ieream.model.CmRoleBean">
		insert into cm_role(
		  	    create_time  ,
	
		  	    bar_path  ,
	
		  	    name  ,
	
		  	    cr_id  ,
	
		  	    create_by  ,
	
		  	    is_stop_use  ,
	
		  	    sysdata_type  ,
	
		  	    is_all_tablearea  ,
	
		  	    update_time  ,
	
		  	    update_by  ,
	
		  	    is_syn  ,
	
		  	    rest_id  ,
	
		  	    cr_status  ,
	
		  	    version  ,
	
		  	    syn_version  ,
	
		  	    role_type  
	
			
		)
		values (
		  	    #\{createTime \} ,
		  	    #\{barPath \} ,
		  	    #\{name \} ,
		  	    #\{crId \} ,
		  	    #\{createBy \} ,
		  	    #\{isStopUse \} ,
		  	    #\{sysdataType \} ,
		  	    #\{isAllTablearea \} ,
		  	    #\{updateTime \} ,
		  	    #\{updateBy \} ,
		  	    #\{isSyn \} ,
		  	    #\{restId \} ,
		  	    #\{crStatus \} ,
		  	    #\{version \} ,
		  	    #\{synVersion \} ,
		  	    #\{roleType \} 
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.ndlan.ieream.model.CmRoleBean">
		update cm_role
		<set>
		  	<if test=\"createTime != null\">  create_time = #\{createTime\} ,</if>
		  	<if test=\"barPath != null\">  bar_path = #\{barPath\} ,</if>
		  	<if test=\"name != null\">  name = #\{name\} ,</if>
		  	<if test=\"createBy != null\">  create_by = #\{createBy\} ,</if>
		  	<if test=\"isStopUse != null\">  is_stop_use = #\{isStopUse\} ,</if>
		  	<if test=\"sysdataType != null\">  sysdata_type = #\{sysdataType\} ,</if>
		  	<if test=\"isAllTablearea != null\">  is_all_tablearea = #\{isAllTablearea\} ,</if>
		  	<if test=\"updateTime != null\">  update_time = #\{updateTime\} ,</if>
		  	<if test=\"updateBy != null\">  update_by = #\{updateBy\} ,</if>
		  	<if test=\"isSyn != null\">  is_syn = #\{isSyn\} ,</if>
		  	<if test=\"restId != null\">  rest_id = #\{restId\} ,</if>
		  	<if test=\"crStatus != null\">  cr_status = #\{crStatus\} ,</if>
		  	<if test=\"version != null\">  version = #\{version\} ,</if>
		  	<if test=\"synVersion != null\">  syn_version = #\{synVersion\} ,</if>
		  	<if test=\"roleType != null\">  role_type = #\{roleType\} </if>
		</set>
		where  cr_id = #\{cr_id\}
	</update>
	
	<update id="updateById" parameterType="com.ndlan.ieream.model.CmRoleBean">
		update cm_role

		set 
		  	 create_time = #\{createTime\} ,
		  	 bar_path = #\{barPath\} ,
		  	 name = #\{name\} ,
		  	 create_by = #\{createBy\} ,
		  	 is_stop_use = #\{isStopUse\} ,
		  	 sysdata_type = #\{sysdataType\} ,
		  	 is_all_tablearea = #\{isAllTablearea\} ,
		  	 update_time = #\{updateTime\} ,
		  	 update_by = #\{updateBy\} ,
		  	 is_syn = #\{isSyn\} ,
		  	 rest_id = #\{restId\} ,
		  	 cr_status = #\{crStatus\} ,
		  	 version = #\{version\} ,
		  	 syn_version = #\{synVersion\} ,
		  	 role_type = #\{roleType\} 
	
		where  cr_id = #\{cr_id\}
	</update>
	
</mapper>