<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndlan.ieream.model.BaseMembershipCardClassBean">
	
	<resultMap id="BaseResultMap" type="com.ndlan.ieream.model.BaseMembershipCardClassBean">
		<id column="mcclass_id" property="mcclassId" jdbcType="VARCHAR" />
	
    
		<result column="cash_pledge" property="cashPledge" jdbcType="DOUBLE" />
    
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
    
		<result column="update_time" property="updateTime" jdbcType="DATE" />
    
		<result column="create_time" property="createTime" jdbcType="DATE" />
    
		<result column="is_consume_integral" property="isConsumeIntegral" jdbcType="VARCHAR" />
    
		<result column="name" property="name" jdbcType="VARCHAR" />
    
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    
		<result column="syn_version" property="synVersion" jdbcType="BIGINT" />
    
		<result column="ccd_id" property="ccdId" jdbcType="VARCHAR" />
    
		<result column="is_syn" property="isSyn" jdbcType="VARCHAR" />
    
		<result column="version" property="version" jdbcType="BIGINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
		cash_pledge as cashPledge ,
		create_by as createBy ,
		update_time as updateTime ,
		mcclass_id as mcclassId ,
		create_time as createTime ,
		is_consume_integral as isConsumeIntegral ,
		name as name ,
		update_by as updateBy ,
		syn_version as synVersion ,
		ccd_id as ccdId ,
		is_syn as isSyn ,
		version as version 
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
		  	    <if test="cashPledge != null"> and cash_pledge = #\{cashPledge\}</if>
				
		  	    <if test="createBy != null"> and create_by = #\{createBy\}</if>
				
		  	    <if test="updateTime != null"> and update_time = #\{updateTime\}</if>
				
		  	    <if test="mcclassId != null"> and mcclass_id = #\{mcclassId\}</if>
				
		  	    <if test="createTime != null"> and create_time = #\{createTime\}</if>
				
		  	    <if test="isConsumeIntegral != null"> and is_consume_integral = #\{isConsumeIntegral\}</if>
				
		  	    <if test="name != null"> and name = #\{name\}</if>
				
		  	    <if test="updateBy != null"> and update_by = #\{updateBy\}</if>
				
		  	    <if test="synVersion != null"> and syn_version = #\{synVersion\}</if>
				
		  	    <if test="ccdId != null"> and ccd_id = #\{ccdId\}</if>
				
		  	    <if test="isSyn != null"> and is_syn = #\{isSyn\}</if>
				
		  	    <if test="version != null"> and version = #\{version\}</if>
				
				
			</trim>
		</where>
		<if test="sorting != null">order by $\{sorting\}</if>
		<if test="offset != null and limit != null">
			limit #\{offset\}, #\{limit\}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(mcclass_id)
		from base_membership_card_class
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from base_membership_card_class
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from base_membership_card_class
		where mcclass_id = #\{mcclass_id\}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from base_membership_card_class
		where  mcclass_id = #\{mcclass_id\}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_dictionary
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.ndlan.ieream.model.BaseMembershipCardClassBean">
		insert into base_membership_card_class(
		  	    cash_pledge  ,
	
		  	    create_by  ,
	
		  	    update_time  ,
	
		  	    mcclass_id  ,
	
		  	    create_time  ,
	
		  	    is_consume_integral  ,
	
		  	    name  ,
	
		  	    update_by  ,
	
		  	    syn_version  ,
	
		  	    ccd_id  ,
	
		  	    is_syn  ,
	
		  	    version  
	
			
		)
		values (
		  	    #\{cashPledge \} ,
		  	    #\{createBy \} ,
		  	    #\{updateTime \} ,
		  	    #\{mcclassId \} ,
		  	    #\{createTime \} ,
		  	    #\{isConsumeIntegral \} ,
		  	    #\{name \} ,
		  	    #\{updateBy \} ,
		  	    #\{synVersion \} ,
		  	    #\{ccdId \} ,
		  	    #\{isSyn \} ,
		  	    #\{version \} 
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.ndlan.ieream.model.BaseMembershipCardClassBean">
		update base_membership_card_class
		<set>
		  	<if test=\"cashPledge != null\">  cash_pledge = #\{cashPledge\} ,</if>
		  	<if test=\"createBy != null\">  create_by = #\{createBy\} ,</if>
		  	<if test=\"updateTime != null\">  update_time = #\{updateTime\} ,</if>
		  	<if test=\"createTime != null\">  create_time = #\{createTime\} ,</if>
		  	<if test=\"isConsumeIntegral != null\">  is_consume_integral = #\{isConsumeIntegral\} ,</if>
		  	<if test=\"name != null\">  name = #\{name\} ,</if>
		  	<if test=\"updateBy != null\">  update_by = #\{updateBy\} ,</if>
		  	<if test=\"synVersion != null\">  syn_version = #\{synVersion\} ,</if>
		  	<if test=\"ccdId != null\">  ccd_id = #\{ccdId\} ,</if>
		  	<if test=\"isSyn != null\">  is_syn = #\{isSyn\} ,</if>
		  	<if test=\"version != null\">  version = #\{version\} </if>
		</set>
		where  mcclass_id = #\{mcclass_id\}
	</update>
	
	<update id="updateById" parameterType="com.ndlan.ieream.model.BaseMembershipCardClassBean">
		update base_membership_card_class

		set 
		  	 cash_pledge = #\{cashPledge\} ,
		  	 create_by = #\{createBy\} ,
		  	 update_time = #\{updateTime\} ,
		  	 create_time = #\{createTime\} ,
		  	 is_consume_integral = #\{isConsumeIntegral\} ,
		  	 name = #\{name\} ,
		  	 update_by = #\{updateBy\} ,
		  	 syn_version = #\{synVersion\} ,
		  	 ccd_id = #\{ccdId\} ,
		  	 is_syn = #\{isSyn\} ,
		  	 version = #\{version\} 
	
		where  mcclass_id = #\{mcclass_id\}
	</update>
	
</mapper>