<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndlan.ieream.model.CmMemberInfoBean">
	
	<resultMap id="BaseResultMap" type="com.ndlan.ieream.model.CmMemberInfoBean">
		<id column="mb_id" property="mbId" jdbcType="VARCHAR" />
	
    
		<result column="notes" property="notes" jdbcType="VARCHAR" />
    
		<result column="create_time" property="createTime" jdbcType="DATE" />
    
		<result column="rest_id" property="restId" jdbcType="VARCHAR" />
    
		<result column="is_syn" property="isSyn" jdbcType="VARCHAR" />
    
		<result column="reg_origin" property="regOrigin" jdbcType="VARCHAR" />
    
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    
		<result column="name" property="name" jdbcType="VARCHAR" />
    
		<result column="login_username" property="loginUsername" jdbcType="VARCHAR" />
    
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
    
		<result column="brithday_day" property="brithdayDay" jdbcType="DATE" />
    
		<result column="work" property="work" jdbcType="VARCHAR" />
    
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
    
		<result column="syn_version" property="synVersion" jdbcType="BIGINT" />
    
		<result column="address" property="address" jdbcType="VARCHAR" />
    
		<result column="gender" property="gender" jdbcType="VARCHAR" />
    
		<result column="edu" property="edu" jdbcType="VARCHAR" />
    
		<result column="update_time" property="updateTime" jdbcType="DATE" />
    
		<result column="version" property="version" jdbcType="BIGINT" />
    
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
    
		<result column="origin_rest_id" property="originRestId" jdbcType="VARCHAR" />
    
		<result column="email" property="email" jdbcType="VARCHAR" />
    
		<result column="salesman_id" property="salesmanId" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		mb_id as mbId ,
		notes as notes ,
		create_time as createTime ,
		rest_id as restId ,
		is_syn as isSyn ,
		reg_origin as regOrigin ,
		update_by as updateBy ,
		name as name ,
		login_username as loginUsername ,
		mobile as mobile ,
		brithday_day as brithdayDay ,
		work as work ,
		login_password as loginPassword ,
		syn_version as synVersion ,
		address as address ,
		gender as gender ,
		edu as edu ,
		update_time as updateTime ,
		version as version ,
		create_by as createBy ,
		origin_rest_id as originRestId ,
		email as email ,
		salesman_id as salesmanId 
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
		  	    <if test="mbId != null"> and mb_id = #\{mbId\}</if>
				
		  	    <if test="notes != null"> and notes = #\{notes\}</if>
				
		  	    <if test="createTime != null"> and create_time = #\{createTime\}</if>
				
		  	    <if test="restId != null"> and rest_id = #\{restId\}</if>
				
		  	    <if test="isSyn != null"> and is_syn = #\{isSyn\}</if>
				
		  	    <if test="regOrigin != null"> and reg_origin = #\{regOrigin\}</if>
				
		  	    <if test="updateBy != null"> and update_by = #\{updateBy\}</if>
				
		  	    <if test="name != null"> and name = #\{name\}</if>
				
		  	    <if test="loginUsername != null"> and login_username = #\{loginUsername\}</if>
				
		  	    <if test="mobile != null"> and mobile = #\{mobile\}</if>
				
		  	    <if test="brithdayDay != null"> and brithday_day = #\{brithdayDay\}</if>
				
		  	    <if test="work != null"> and work = #\{work\}</if>
				
		  	    <if test="loginPassword != null"> and login_password = #\{loginPassword\}</if>
				
		  	    <if test="synVersion != null"> and syn_version = #\{synVersion\}</if>
				
		  	    <if test="address != null"> and address = #\{address\}</if>
				
		  	    <if test="gender != null"> and gender = #\{gender\}</if>
				
		  	    <if test="edu != null"> and edu = #\{edu\}</if>
				
		  	    <if test="updateTime != null"> and update_time = #\{updateTime\}</if>
				
		  	    <if test="version != null"> and version = #\{version\}</if>
				
		  	    <if test="createBy != null"> and create_by = #\{createBy\}</if>
				
		  	    <if test="originRestId != null"> and origin_rest_id = #\{originRestId\}</if>
				
		  	    <if test="email != null"> and email = #\{email\}</if>
				
		  	    <if test="salesmanId != null"> and salesman_id = #\{salesmanId\}</if>
				
				
			</trim>
		</where>
		<if test="sorting != null">order by $\{sorting\}</if>
		<if test="offset != null and limit != null">
			limit #\{offset\}, #\{limit\}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(mb_id)
		from cm_member_info
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from cm_member_info
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cm_member_info
		where mb_id = #\{mb_id\}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cm_member_info
		where  mb_id = #\{mb_id\}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_dictionary
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.ndlan.ieream.model.CmMemberInfoBean">
		insert into cm_member_info(
		  	    mb_id  ,
	
		  	    notes  ,
	
		  	    create_time  ,
	
		  	    rest_id  ,
	
		  	    is_syn  ,
	
		  	    reg_origin  ,
	
		  	    update_by  ,
	
		  	    name  ,
	
		  	    login_username  ,
	
		  	    mobile  ,
	
		  	    brithday_day  ,
	
		  	    work  ,
	
		  	    login_password  ,
	
		  	    syn_version  ,
	
		  	    address  ,
	
		  	    gender  ,
	
		  	    edu  ,
	
		  	    update_time  ,
	
		  	    version  ,
	
		  	    create_by  ,
	
		  	    origin_rest_id  ,
	
		  	    email  ,
	
		  	    salesman_id  
	
			
		)
		values (
		  	    #\{mbId \} ,
		  	    #\{notes \} ,
		  	    #\{createTime \} ,
		  	    #\{restId \} ,
		  	    #\{isSyn \} ,
		  	    #\{regOrigin \} ,
		  	    #\{updateBy \} ,
		  	    #\{name \} ,
		  	    #\{loginUsername \} ,
		  	    #\{mobile \} ,
		  	    #\{brithdayDay \} ,
		  	    #\{work \} ,
		  	    #\{loginPassword \} ,
		  	    #\{synVersion \} ,
		  	    #\{address \} ,
		  	    #\{gender \} ,
		  	    #\{edu \} ,
		  	    #\{updateTime \} ,
		  	    #\{version \} ,
		  	    #\{createBy \} ,
		  	    #\{originRestId \} ,
		  	    #\{email \} ,
		  	    #\{salesmanId \} 
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.ndlan.ieream.model.CmMemberInfoBean">
		update cm_member_info
		<set>
		  	<if test=\"notes != null\">  notes = #\{notes\} ,</if>
		  	<if test=\"createTime != null\">  create_time = #\{createTime\} ,</if>
		  	<if test=\"restId != null\">  rest_id = #\{restId\} ,</if>
		  	<if test=\"isSyn != null\">  is_syn = #\{isSyn\} ,</if>
		  	<if test=\"regOrigin != null\">  reg_origin = #\{regOrigin\} ,</if>
		  	<if test=\"updateBy != null\">  update_by = #\{updateBy\} ,</if>
		  	<if test=\"name != null\">  name = #\{name\} ,</if>
		  	<if test=\"loginUsername != null\">  login_username = #\{loginUsername\} ,</if>
		  	<if test=\"mobile != null\">  mobile = #\{mobile\} ,</if>
		  	<if test=\"brithdayDay != null\">  brithday_day = #\{brithdayDay\} ,</if>
		  	<if test=\"work != null\">  work = #\{work\} ,</if>
		  	<if test=\"loginPassword != null\">  login_password = #\{loginPassword\} ,</if>
		  	<if test=\"synVersion != null\">  syn_version = #\{synVersion\} ,</if>
		  	<if test=\"address != null\">  address = #\{address\} ,</if>
		  	<if test=\"gender != null\">  gender = #\{gender\} ,</if>
		  	<if test=\"edu != null\">  edu = #\{edu\} ,</if>
		  	<if test=\"updateTime != null\">  update_time = #\{updateTime\} ,</if>
		  	<if test=\"version != null\">  version = #\{version\} ,</if>
		  	<if test=\"createBy != null\">  create_by = #\{createBy\} ,</if>
		  	<if test=\"originRestId != null\">  origin_rest_id = #\{originRestId\} ,</if>
		  	<if test=\"email != null\">  email = #\{email\} ,</if>
		  	<if test=\"salesmanId != null\">  salesman_id = #\{salesmanId\} </if>
		</set>
		where  mb_id = #\{mb_id\}
	</update>
	
	<update id="updateById" parameterType="com.ndlan.ieream.model.CmMemberInfoBean">
		update cm_member_info

		set 
		  	 notes = #\{notes\} ,
		  	 create_time = #\{createTime\} ,
		  	 rest_id = #\{restId\} ,
		  	 is_syn = #\{isSyn\} ,
		  	 reg_origin = #\{regOrigin\} ,
		  	 update_by = #\{updateBy\} ,
		  	 name = #\{name\} ,
		  	 login_username = #\{loginUsername\} ,
		  	 mobile = #\{mobile\} ,
		  	 brithday_day = #\{brithdayDay\} ,
		  	 work = #\{work\} ,
		  	 login_password = #\{loginPassword\} ,
		  	 syn_version = #\{synVersion\} ,
		  	 address = #\{address\} ,
		  	 gender = #\{gender\} ,
		  	 edu = #\{edu\} ,
		  	 update_time = #\{updateTime\} ,
		  	 version = #\{version\} ,
		  	 create_by = #\{createBy\} ,
		  	 origin_rest_id = #\{originRestId\} ,
		  	 email = #\{email\} ,
		  	 salesman_id = #\{salesmanId\} 
	
		where  mb_id = #\{mb_id\}
	</update>
	
</mapper>