<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndlan.ieream.model.CmSysVersionSettingBean">
	
	<resultMap id="BaseResultMap" type="com.ndlan.ieream.model.CmSysVersionSettingBean">
		<id column="svs_id" property="svsId" jdbcType="VARCHAR" />
	
    
		<result column="version_update_time" property="versionUpdateTime" jdbcType="DATE" />
    
		<result column="auto_update" property="autoUpdate" jdbcType="VARCHAR" />
    
		<result column="is_syn" property="isSyn" jdbcType="VARCHAR" />
    
		<result column="version" property="version" jdbcType="BIGINT" />
    
		<result column="syn_version" property="synVersion" jdbcType="BIGINT" />
    
		<result column="create_time" property="createTime" jdbcType="DATE" />
    
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
    
		<result column="rest_id" property="restId" jdbcType="VARCHAR" />
    
		<result column="curr_version_id" property="currVersionId" jdbcType="BIGINT" />
    
		<result column="update_time" property="updateTime" jdbcType="DATE" />
    
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		version_update_time as versionUpdateTime ,
		auto_update as autoUpdate ,
		is_syn as isSyn ,
		version as version ,
		svs_id as svsId ,
		syn_version as synVersion ,
		create_time as createTime ,
		create_by as createBy ,
		rest_id as restId ,
		curr_version_id as currVersionId ,
		update_time as updateTime ,
		update_by as updateBy 
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
		  	    <if test="versionUpdateTime != null"> and version_update_time = #\{versionUpdateTime\}</if>
				
		  	    <if test="autoUpdate != null"> and auto_update = #\{autoUpdate\}</if>
				
		  	    <if test="isSyn != null"> and is_syn = #\{isSyn\}</if>
				
		  	    <if test="version != null"> and version = #\{version\}</if>
				
		  	    <if test="svsId != null"> and svs_id = #\{svsId\}</if>
				
		  	    <if test="synVersion != null"> and syn_version = #\{synVersion\}</if>
				
		  	    <if test="createTime != null"> and create_time = #\{createTime\}</if>
				
		  	    <if test="createBy != null"> and create_by = #\{createBy\}</if>
				
		  	    <if test="restId != null"> and rest_id = #\{restId\}</if>
				
		  	    <if test="currVersionId != null"> and curr_version_id = #\{currVersionId\}</if>
				
		  	    <if test="updateTime != null"> and update_time = #\{updateTime\}</if>
				
		  	    <if test="updateBy != null"> and update_by = #\{updateBy\}</if>
				
				
			</trim>
		</where>
		<if test="sorting != null">order by $\{sorting\}</if>
		<if test="offset != null and limit != null">
			limit #\{offset\}, #\{limit\}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(svs_id)
		from cm_sys_version_setting
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from cm_sys_version_setting
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cm_sys_version_setting
		where svs_id = #\{svs_id\}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cm_sys_version_setting
		where  svs_id = #\{svs_id\}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_dictionary
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.ndlan.ieream.model.CmSysVersionSettingBean">
		insert into cm_sys_version_setting(
		  	    version_update_time  ,
	
		  	    auto_update  ,
	
		  	    is_syn  ,
	
		  	    version  ,
	
		  	    svs_id  ,
	
		  	    syn_version  ,
	
		  	    create_time  ,
	
		  	    create_by  ,
	
		  	    rest_id  ,
	
		  	    curr_version_id  ,
	
		  	    update_time  ,
	
		  	    update_by  
	
			
		)
		values (
		  	    #\{versionUpdateTime \} ,
		  	    #\{autoUpdate \} ,
		  	    #\{isSyn \} ,
		  	    #\{version \} ,
		  	    #\{svsId \} ,
		  	    #\{synVersion \} ,
		  	    #\{createTime \} ,
		  	    #\{createBy \} ,
		  	    #\{restId \} ,
		  	    #\{currVersionId \} ,
		  	    #\{updateTime \} ,
		  	    #\{updateBy \} 
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.ndlan.ieream.model.CmSysVersionSettingBean">
		update cm_sys_version_setting
		<set>
		  	<if test=\"versionUpdateTime != null\">  version_update_time = #\{versionUpdateTime\} ,</if>
		  	<if test=\"autoUpdate != null\">  auto_update = #\{autoUpdate\} ,</if>
		  	<if test=\"isSyn != null\">  is_syn = #\{isSyn\} ,</if>
		  	<if test=\"version != null\">  version = #\{version\} ,</if>
		  	<if test=\"synVersion != null\">  syn_version = #\{synVersion\} ,</if>
		  	<if test=\"createTime != null\">  create_time = #\{createTime\} ,</if>
		  	<if test=\"createBy != null\">  create_by = #\{createBy\} ,</if>
		  	<if test=\"restId != null\">  rest_id = #\{restId\} ,</if>
		  	<if test=\"currVersionId != null\">  curr_version_id = #\{currVersionId\} ,</if>
		  	<if test=\"updateTime != null\">  update_time = #\{updateTime\} ,</if>
		  	<if test=\"updateBy != null\">  update_by = #\{updateBy\} </if>
		</set>
		where  svs_id = #\{svs_id\}
	</update>
	
	<update id="updateById" parameterType="com.ndlan.ieream.model.CmSysVersionSettingBean">
		update cm_sys_version_setting

		set 
		  	 version_update_time = #\{versionUpdateTime\} ,
		  	 auto_update = #\{autoUpdate\} ,
		  	 is_syn = #\{isSyn\} ,
		  	 version = #\{version\} ,
		  	 syn_version = #\{synVersion\} ,
		  	 create_time = #\{createTime\} ,
		  	 create_by = #\{createBy\} ,
		  	 rest_id = #\{restId\} ,
		  	 curr_version_id = #\{currVersionId\} ,
		  	 update_time = #\{updateTime\} ,
		  	 update_by = #\{updateBy\} 
	
		where  svs_id = #\{svs_id\}
	</update>
	
</mapper>