<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndlan.cwwarm.model.CmEmployeeBean">
	
	<resultMap id="BaseResultMap" type="com.ndlan.cwwarm.model.CmEmployeeBean">
		<id column="emp_id" property="empId" jdbcType="VARCHAR" />
	
    
		<result column="plain_password" property="plainPassword" jdbcType="VARCHAR" />
    
		<result column="emer_con_tel" property="emerConTel" jdbcType="VARCHAR" />
    
		<result column="update_time" property="updateTime" jdbcType="DATE" />
    
		<result column="authorization_code" property="authorizationCode" jdbcType="VARCHAR" />
    
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
    
		<result column="store_id" property="storeId" jdbcType="VARCHAR" />
    
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
    
		<result column="rest_id" property="restId" jdbcType="VARCHAR" />
    
		<result column="authorization_make" property="authorizationMake" jdbcType="VARCHAR" />
    
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
    
		<result column="res__province" property="resProvince" jdbcType="VARCHAR" />
    
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    
		<result column="create_time" property="createTime" jdbcType="DATE" />
    
		<result column="emer_contact" property="emerContact" jdbcType="VARCHAR" />
    
		<result column="emp_status" property="empStatus" jdbcType="VARCHAR" />
    
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
    
		<result column="adr_province" property="adrProvince" jdbcType="VARCHAR" />
    
		<result column="job_status" property="jobStatus" jdbcType="VARCHAR" />
    
		<result column="res_city" property="resCity" jdbcType="VARCHAR" />
    
		<result column="gender" property="gender" jdbcType="VARCHAR" />
    
		<result column="address" property="address" jdbcType="VARCHAR" />
    
		<result column="emp_num" property="empNum" jdbcType="VARCHAR" />
    
		<result column="sysdata_type" property="sysdataType" jdbcType="VARCHAR" />
    
		<result column="job_pic" property="jobPic" jdbcType="VARCHAR" />
    
		<result column="salt" property="salt" jdbcType="VARCHAR" />
    
		<result column="belong_rest" property="belongRest" jdbcType="VARCHAR" />
    
		<result column="login_username" property="loginUsername" jdbcType="VARCHAR" />
    
		<result column="name" property="name" jdbcType="VARCHAR" />
    
		<result column="residence_adr" property="residenceAdr" jdbcType="VARCHAR" />
    
		<result column="bar_path" property="barPath" jdbcType="VARCHAR" />
    
		<result column="adr_city" property="adrCity" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		plain_password as plainPassword ,
		emer_con_tel as emerConTel ,
		update_time as updateTime ,
		authorization_code as authorizationCode ,
		create_by as createBy ,
		store_id as storeId ,
		login_password as loginPassword ,
		rest_id as restId ,
		authorization_make as authorizationMake ,
		emp_id as empId ,
		mobile as mobile ,
		res__province as resProvince ,
		update_by as updateBy ,
		create_time as createTime ,
		emer_contact as emerContact ,
		emp_status as empStatus ,
		id_card as idCard ,
		adr_province as adrProvince ,
		job_status as jobStatus ,
		res_city as resCity ,
		gender as gender ,
		address as address ,
		emp_num as empNum ,
		sysdata_type as sysdataType ,
		job_pic as jobPic ,
		salt as salt ,
		belong_rest as belongRest ,
		login_username as loginUsername ,
		name as name ,
		residence_adr as residenceAdr ,
		bar_path as barPath ,
		adr_city as adrCity 
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
		  	    <if test="plainPassword != null"> and plain_password = #{plainPassword}</if>
				
		  	    <if test="emerConTel != null"> and emer_con_tel = #{emerConTel}</if>
				
		  	    <if test="updateTime != null"> and update_time = #{updateTime}</if>
				
		  	    <if test="authorizationCode != null"> and authorization_code = #{authorizationCode}</if>
				
		  	    <if test="createBy != null"> and create_by = #{createBy}</if>
				
		  	    <if test="storeId != null"> and store_id = #{storeId}</if>
				
		  	    <if test="loginPassword != null"> and login_password = #{loginPassword}</if>
				
		  	    <if test="restId != null"> and rest_id = #{restId}</if>
				
		  	    <if test="authorizationMake != null"> and authorization_make = #{authorizationMake}</if>
				
		  	    <if test="empId != null"> and emp_id = #{empId}</if>
				
		  	    <if test="mobile != null"> and mobile = #{mobile}</if>
				
		  	    <if test="resProvince != null"> and res__province = #{resProvince}</if>
				
		  	    <if test="updateBy != null"> and update_by = #{updateBy}</if>
				
		  	    <if test="createTime != null"> and create_time = #{createTime}</if>
				
		  	    <if test="emerContact != null"> and emer_contact = #{emerContact}</if>
				
		  	    <if test="empStatus != null"> and emp_status = #{empStatus}</if>
				
		  	    <if test="idCard != null"> and id_card = #{idCard}</if>
				
		  	    <if test="adrProvince != null"> and adr_province = #{adrProvince}</if>
				
		  	    <if test="jobStatus != null"> and job_status = #{jobStatus}</if>
				
		  	    <if test="resCity != null"> and res_city = #{resCity}</if>
				
		  	    <if test="gender != null"> and gender = #{gender}</if>
				
		  	    <if test="address != null"> and address = #{address}</if>
				
		  	    <if test="empNum != null"> and emp_num = #{empNum}</if>
				
		  	    <if test="sysdataType != null"> and sysdata_type = #{sysdataType}</if>
				
		  	    <if test="jobPic != null"> and job_pic = #{jobPic}</if>
				
		  	    <if test="salt != null"> and salt = #{salt}</if>
				
		  	    <if test="belongRest != null"> and belong_rest = #{belongRest}</if>
				
		  	    <if test="loginUsername != null"> and login_username = #{loginUsername}</if>
				
		  	    <if test="name != null"> and name = #{name}</if>
				
		  	    <if test="residenceAdr != null"> and residence_adr = #{residenceAdr}</if>
				
		  	    <if test="barPath != null"> and bar_path = #{barPath}</if>
				
		  	    <if test="adrCity != null"> and adr_city = #{adrCity}</if>
		  	    
		  	    <if test="nameLike != null"> and name Like  #{nameLike} </if>
			  	    
		  	    <if test="loginUsernameLike != null"> and  loginUsername like  CONCAT('%',#{loginUsernameLike},'%' )</if>
	
		  	    <if test="liking != null"> and  <![CDATA[ ${liking}]]></if>
				
		  	     <if test="oring != null"> and  <![CDATA[ ${oring}]]></if>
	
			</trim>
		</where>

		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(emp_id)
		from cm_employee
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from cm_employee
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cm_employee
		where emp_id = #{empId}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cm_employee
		where  emp_id = #{empId}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_dictionary
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.ndlan.cwwarm.model.CmEmployeeBean">
		insert into cm_employee(
		  	    plain_password  ,
	
		  	    emer_con_tel  ,
	
		  	    update_time  ,
	
		  	    authorization_code  ,
	
		  	    create_by  ,
	
		  	    store_id  ,
	
		  	    login_password  ,
	
		  	    rest_id  ,
	
		  	    authorization_make  ,
	
		  	    emp_id  ,
	
		  	    mobile  ,
	
		  	    res__province  ,
	
		  	    update_by  ,
	
		  	    create_time  ,
	
		  	    emer_contact  ,
	
		  	    emp_status  ,
	
		  	    id_card  ,
	
		  	    adr_province  ,
	
		  	    job_status  ,
	
		  	    res_city  ,
	
		  	    gender  ,
	
		  	    address  ,
	
		  	    emp_num  ,
	
		  	    sysdata_type  ,
	
		  	    job_pic  ,
	
		  	    salt  ,
	
		  	    belong_rest  ,
	
		  	    login_username  ,
	
		  	    name  ,
	
		  	    residence_adr  ,
	
		  	    bar_path  ,
	
		  	    adr_city  
	
			
		)
		values (
		  	    #{plainPassword } ,
		  	    #{emerConTel } ,
		  	    #{updateTime } ,
		  	    #{authorizationCode } ,
		  	    #{createBy } ,
		  	    #{storeId } ,
		  	    #{loginPassword } ,
		  	    #{restId } ,
		  	    #{authorizationMake } ,
		  	    #{empId } ,
		  	    #{mobile } ,
		  	    #{resProvince } ,
		  	    #{updateBy } ,
		  	    #{createTime } ,
		  	    #{emerContact } ,
		  	    #{empStatus } ,
		  	    #{idCard } ,
		  	    #{adrProvince } ,
		  	    #{jobStatus } ,
		  	    #{resCity } ,
		  	    #{gender } ,
		  	    #{address } ,
		  	    #{empNum } ,
		  	    #{sysdataType } ,
		  	    #{jobPic } ,
		  	    #{salt } ,
		  	    #{belongRest } ,
		  	    #{loginUsername } ,
		  	    #{name } ,
		  	    #{residenceAdr } ,
		  	    #{barPath } ,
		  	    #{adrCity } 
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.ndlan.cwwarm.model.CmEmployeeBean">
		update cm_employee
		<set>
		  	<if test="plainPassword != null">  plain_password = #{plainPassword} ,</if>
		  	<if test="emerConTel != null">  emer_con_tel = #{emerConTel} ,</if>
		  	<if test="updateTime != null">  update_time = #{updateTime} ,</if>
		  	<if test="authorizationCode != null">  authorization_code = #{authorizationCode} ,</if>
		  	<if test="createBy != null">  create_by = #{createBy} ,</if>
		  	<if test="storeId != null">  store_id = #{storeId} ,</if>
		  	<if test="loginPassword != null">  login_password = #{loginPassword} ,</if>
		  	<if test="restId != null">  rest_id = #{restId} ,</if>
		  	<if test="authorizationMake != null">  authorization_make = #{authorizationMake} ,</if>
		  	<if test="mobile != null">  mobile = #{mobile} ,</if>
		  	<if test="resProvince != null">  res__province = #{resProvince} ,</if>
		  	<if test="updateBy != null">  update_by = #{updateBy} ,</if>
		  	<if test="createTime != null">  create_time = #{createTime} ,</if>
		  	<if test="emerContact != null">  emer_contact = #{emerContact} ,</if>
		  	<if test="empStatus != null">  emp_status = #{empStatus} ,</if>
		  	<if test="idCard != null">  id_card = #{idCard} ,</if>
		  	<if test="adrProvince != null">  adr_province = #{adrProvince} ,</if>
		  	<if test="jobStatus != null">  job_status = #{jobStatus} ,</if>
		  	<if test="resCity != null">  res_city = #{resCity} ,</if>
		  	<if test="gender != null">  gender = #{gender} ,</if>
		  	<if test="address != null">  address = #{address} ,</if>
		  	<if test="empNum != null">  emp_num = #{empNum} ,</if>
		  	<if test="sysdataType != null">  sysdata_type = #{sysdataType} ,</if>
		  	<if test="jobPic != null">  job_pic = #{jobPic} ,</if>
		  	<if test="salt != null">  salt = #{salt} ,</if>
		  	<if test="belongRest != null">  belong_rest = #{belongRest} ,</if>
		  	<if test="loginUsername != null">  login_username = #{loginUsername} ,</if>
		  	<if test="name != null">  name = #{name} ,</if>
		  	<if test="residenceAdr != null">  residence_adr = #{residenceAdr} ,</if>
		  	<if test="barPath != null">  bar_path = #{barPath} ,</if>
		  	<if test="adrCity != null">  adr_city = #{adrCity} </if>
		</set>
		where  emp_id = #{empId}
	</update>
	
	<update id="updateById" parameterType="com.ndlan.cwwarm.model.CmEmployeeBean">
		update cm_employee

		set 
		  	 plain_password = #{plainPassword} ,
		  	 emer_con_tel = #{emerConTel} ,
		  	 update_time = #{updateTime} ,
		  	 authorization_code = #{authorizationCode} ,
		  	 create_by = #{createBy} ,
		  	 store_id = #{storeId} ,
		  	 login_password = #{loginPassword} ,
		  	 rest_id = #{restId} ,
		  	 authorization_make = #{authorizationMake} ,
		  	 mobile = #{mobile} ,
		  	 res__province = #{resProvince} ,
		  	 update_by = #{updateBy} ,
		  	 create_time = #{createTime} ,
		  	 emer_contact = #{emerContact} ,
		  	 emp_status = #{empStatus} ,
		  	 id_card = #{idCard} ,
		  	 adr_province = #{adrProvince} ,
		  	 job_status = #{jobStatus} ,
		  	 res_city = #{resCity} ,
		  	 gender = #{gender} ,
		  	 address = #{address} ,
		  	 emp_num = #{empNum} ,
		  	 sysdata_type = #{sysdataType} ,
		  	 job_pic = #{jobPic} ,
		  	 salt = #{salt} ,
		  	 belong_rest = #{belongRest} ,
		  	 login_username = #{loginUsername} ,
		  	 name = #{name} ,
		  	 residence_adr = #{residenceAdr} ,
		  	 bar_path = #{barPath} ,
		  	 adr_city = #{adrCity} 
	
		where  emp_id = #{empId}
	</update>
	
</mapper>